<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Online Mockup, Wireframe &amp; UI Prototyping Tool &middot; Moqups</title>
    <meta name="description" content="The most stunning HTML5 App for creating high fidelity, resolution independent SVG mockups and wireframes!" />

    <!-- Do not index public projects -->
    <meta name="robots" content="noindex" />

    <link rel="icon" type="image/png" sizes="256x256" href="https://moqups.com/favicon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="https://moqups.com/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="https://moqups.com/favicon.png" />

    <link rel="stylesheet" type="text/css" href="https://d27nuzh0d4iswj.cloudfront.net/css/5.4.90/viewer.min.css" />

    <!-- Twitter card -->
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:url' content='https://moqups.com' />
    <meta name='twitter:title' content='Moqups &middot; online mockups made simple' />
    <meta name='twitter:description' content='The most stunning HTML5 app for creating resolution-independent SVG mockups, wireframes &amp; interactive prototypes for your next project.' />
    <meta name='twitter:image' content='https://moqups.com/favicon.png' />
    <meta name='twitter:site' content='moqups' />

    <!-- Facebook OpenGraph -->
    <meta name='og:title' content='Moqups &middot; online mockups made simple' />
    <meta name='og:description' content='The most stunning HTML5 app for creating resolution-independent SVG mockups, wireframes &amp; interactive prototypes for your next project' />
    <meta name='og:url' content='https://moqups.com' />
    <meta name='og:type' content='website' />
    <meta name='og:image' content='https://moqups.com/favicon.png' />

    <style type="text/css">
        /* =============================================================================
			   Custom scrollbars for Webkit users
			   ========================================================================== */
        
        .mac.safari ::-webkit-scrollbar,
        html:not(.mac) ::-webkit-scrollbar {
            height: 8px;
            overflow: visible;
            width: 8px;
        }
        
        .mac.safari ::-webkit-scrollbar-thumb,
        html:not(.mac) ::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .4);
            background-clip: padding-box;
            border-radius: 8px;
            border-width: 1px 1px 1px 6px;
            min-height: 18px;
        }
        
        .mac.safari ::-webkit-scrollbar-button,
        html:not(.mac) ::-webkit-scrollbar-button {
            height: 0;
            width: 0;
        }
        
        .mac.safari ::-webkit-scrollbar-track,
        html:not(.mac) ::-webkit-scrollbar-track {
            background-clip: padding-box;
            border: solid transparent;
            border-width: 0 0 0 4px;
        }
        
        .mac.safari ::-webkit-scrollbar-corner,
        html:not(.mac) ::-webkit-scrollbar-corner {
            background: transparent;
        }
    </style>

    <!--<script src="//www.google-analytics.com/cx/api.js?experiment=iGCeokVVTxmFsLGgz8_TqA"></script>-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31420889-1']);
        _gaq.push(['_setDomainName', 'moqups.com']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

        <!-- Google Tag Manager -->

        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-JC3X');

        <!-- End Google Tag Manager -->

        <!-- Google Experiments -->

        if (window.cxApi && window.MQEX) {
            // MQEX.sampleProject = cxApi.chooseVariation();
            // MQEX.signupButton = cxApi.chooseVariation();
        }

        <!-- End Google Experiments -->
    </script>

</head>

<body>

    <div id='preloader'></div>

    <div id="topbar">

        <a id='toggle-pages' href="#">
            <span class='mq-svg-icon right-spacing' data-icon='projectStructure-20'></span> Pages
        </a>
        <div class="project-name-wrapper">
            <div class="project-name-content">
                <h1 id="project-name" class="ellipsis"></h1>
            </div>
        </div>

        <a href="#" id="project-close-button" class="close-preview">
            <span class="button button-borderless right" title="Close">
				<span class='mq-svg-icon' data-icon='close-18-#AA1313'></span>
            </span>
        </a>
        <a href="#" id="project-edit-button" class="close-preview">
            <span class="button button-borderless right" title="Edit project">
				<span class='mq-svg-icon' data-icon='edit-18'></span>
            </span>
        </a>
        <div id="toolbar-options">
            <a href="#" id="links-button" class="button button-borderless disabled" title="This page has no interactive areas">
                <span class='mq-svg-icon' data-icon='hotspot-20' style="margin-bottom:2px;"></span>
            </a>
            <a href="#" id="comments-button" class="button button-borderless thin-font">
                <span class='mq-svg-icon right-spacing' data-icon='comments-19'></span>
                <span class="comment-count">Comments</span>
            </a>
            <a href="#" id="prev-page" class="button button-borderless leftside disabled" title="Previous">
                <span class='mq-svg-icon' data-icon='prev-20'></span>
            </a>
            <div id="page-count" class="button button-borderless middle simple pressed light" title="Pages">&nbsp;</div>
            <a href="#" id="next-page" class="button button-borderless rightside disabled" title="Next">
                <span class='mq-svg-icon' data-icon='next-20'></span>
            </a>

            <a href='https://moqups.com/#!/register' class='button simple green promo-button' id='promo-button' target='_blank'>Sign up for FREE</a>
        </div>
        <div id='topbar-toggle' title='Toggle top bar'>&hellip;</div>
    </div>

    <div id="comments-sidebar" class='hide-new-comment'>

        <div id='notification-settings'>
            <label><input type="checkbox" name="comments-notification" checked="checked"/> Email me when new comments are added</label>
        </div>

        <div class="comments-wrapper">
            <div id='comments-selector'>
                Showing comments for: <a href='#' data-value='all'>all pages</a> &middot; <a href='#' data-value='current'>current page</a>
            </div>
            <div id="comments" class="comments">

            </div>
        </div>
        <div id="add-comment" class="clearfix add-comment ui-animated">
            <div class="textarea-comment-wrapper">
                <textarea id="new-comment" class="textarea-comment" placeholder="New comment..."></textarea>
            </div>
            <div class='comment-actions-wrapper'>
                <a href="#" class="button simple new right send-comment">Add comment</a>
                <a href="#" class="button simple reply cancel-comment">Cancel</a>
                <span class='label submit-comment-shortcut'></span>
                <a href="#" class="button simple reply right send-comment" style="display: none;">Add reply</a>
            </div>
        </div>
    </div>

    <div id='sidebar'>
        <ul id="project-mockup-list" class="project-structure"></ul>
    </div>

    <div id='page' class="ui-animated">

        <div id='promo'>
            <a href="#" id="close-promo">&times;</a>
            <p>Do you need to create your own mockups? Get started with 1 free project!</p>
            <a href='https://moqups.com/#!/register' class='button simple green center promo-button' target='_blank'>Sign up for FREE</a>
        </div>

        <div id='htmlStage'>
            <svg id="svgObject" zoomAndPan="disable" currentScale="2" xmlns="http://www.w3.org/2000/svg" version="1.1">
				<defs>
                    <pattern id="note-yellow" width="100%" height="20" patternUnits="userSpaceOnUse">
                             <rect width="100%" height="30" fill="#FFFFCC"></rect>
                             <rect width="100%" height="0.1px" fill="#000000" shape-rendering="geometricPrecision"></rect>
                             <rect width="0.4px" x="10" height="100%" shape-rendering="geometricPrecision" fill="#FFCC99"></rect>
                         </pattern>
                         <pattern id="note-pink" width="100%" height="20" patternUnits="userSpaceOnUse">
                             <rect width="100%" height="30" fill="#FEF1F6"></rect>
                             <rect width="100%" height="0.1px" fill="#000000" shape-rendering="geometricPrecision"></rect>
                             <rect width="0.4px" x="10" height="100%" shape-rendering="geometricPrecision" fill="#FFCC99"></rect>
                         </pattern>
                         <pattern id="note-blue" width="100%" height="20" patternUnits="userSpaceOnUse">
                             <rect width="100%" height="30" fill="#DFF3FD"></rect>
                             <rect width="100%" height="0.1px" fill="#000000" shape-rendering="geometricPrecision"></rect>
                             <rect width="0.4px" x="10" height="100%" shape-rendering="geometricPrecision" fill="#FFCC99"></rect>
                         </pattern>
                         <pattern id="note-green" width="100%" height="20" patternUnits="userSpaceOnUse">
                             <rect width="100%" height="30" fill="#E2EDC1"></rect>
                             <rect width="100%" height="0.1px" fill="#000000" shape-rendering="geometricPrecision"></rect>
                             <rect width="0.4px" x="10" height="100%" shape-rendering="geometricPrecision" fill="#FFCC99"></rect>
                         </pattern>
                         <pattern id="note-orange" width="100%" height="20" patternUnits="userSpaceOnUse">
                             <rect width="100%" height="30" fill="#FFEAD0"></rect>
                             <rect width="100%" height="0.1px" fill="#000000" shape-rendering="geometricPrecision"></rect>
                             <rect width="0.4px" x="10" height="100%" shape-rendering="geometricPrecision" fill="#FFCC99"></rect>
                         </pattern>
					<!-- Markers -->
					<marker id="StartMarkerRed"
							 viewBox="0 0 10 10" refX="10" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M10,10V0L0,5L10,10z" fill="#fa4e4c" />
						</marker>
						<marker id="EndMarkerRed"
							 viewBox="0 0 10 10" refX="0" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M 0 0 L 10 5 L 0 10 z" fill="#fa4e4c" />
						</marker>
						<marker id="StartMarkerOrange"
							 viewBox="0 0 10 10" refX="10" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M10,10V0L0,5L10,10z" fill="#f7ae53" />
						</marker>
						<marker id="EndMarkerOrange"
							 viewBox="0 0 10 10" refX="0" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M 0 0 L 10 5 L 0 10 z" fill="#f7ae53" />
						</marker>
						<marker id="StartMarkerYellow"
							 viewBox="0 0 10 10" refX="10" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M10,10V0L0,5L10,10z" fill="#f0df5e" />
						</marker>
						<marker id="EndMarkerYellow"
							 viewBox="0 0 10 10" refX="0" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M 0 0 L 10 5 L 0 10 z" fill="#f0df5e" />
						</marker>
						<marker id="StartMarkerGreen"
							 viewBox="0 0 10 10" refX="10" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M10,10V0L0,5L10,10z" fill="#b8e05c" />
						</marker>
						<marker id="EndMarkerGreen"
							 viewBox="0 0 10 10" refX="0" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M 0 0 L 10 5 L 0 10 z" fill="#b8e05c" />
						</marker>
						<marker id="StartMarkerBlue"
							 viewBox="0 0 10 10" refX="10" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M10,10V0L0,5L10,10z" fill="#4d9ef9" />
						</marker>
						<marker id="EndMarkerBlue"
							 viewBox="0 0 10 10" refX="0" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M 0 0 L 10 5 L 0 10 z" fill="#4d9ef9" />
						</marker>
						<marker id="StartMarkerPurple"
							 viewBox="0 0 10 10" refX="10" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M10,10V0L0,5L10,10z" fill="#c178d9" />
						</marker>
						<marker id="EndMarkerPurple"
							 viewBox="0 0 10 10" refX="0" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M 0 0 L 10 5 L 0 10 z" fill="#c178d9" />
						</marker>
						<marker id="StartMarkerGray"
							 viewBox="0 0 10 10" refX="10" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M10,10V0L0,5L10,10z" fill="#bbbbbb" />
						</marker>
						<marker id="EndMarkerGray"
							 viewBox="0 0 10 10" refX="0" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M 0 0 L 10 5 L 0 10 z" fill="#bbbbbb" />
						</marker>
						<marker id="StartMarkerBlack"
							 viewBox="0 0 10 10" refX="10" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M10,10V0L0,5L10,10z" fill="#000000" />
						</marker>
						<marker id="EndMarkerBlack"
							 viewBox="0 0 10 10" refX="0" refY="5"
							 markerUnits="strokeWidth"
							 orient="auto">
							 <path d="M 0 0 L 10 5 L 0 10 z" fill="#000000" />
						</marker>
				</defs>
			</svg>
        </div>

    </div>

    <div id="overlay" class="overlay">

        <div id="confirm-dialog" class="mq-modal clearfix">

        </div>

        <script id="tmpl-confirm-dialog" type="text/x-jquery-tmpl">
            <div class="mq-dialog-content clearfix" style="width:{{= width}};">
                <div class="mq-modal-heading">
                    {{if showCloseButton}}
                    <span class="button button-borderless right close-modal">
						<span class='mq-svg-icon' data-icon='close-18-#AA1313'></span>
                    </span>
                    {{/if}}
                    <strong>{{= heading}}</strong>
                </div>
                <div class="server-errors"></div>
                <div class="mq-modal-content">
                    <p>{{= message}}</p>
                </div>
            </div>
        </script>

        <div id="login-dialog" class="mq-modal clearfix">

            <div class="mq-dialog-content login-dialog clearfix" style="width:335px;">

                <div class="mq-modal-heading">
                    <strong>Log in</strong>
                </div>

                <div class="server-errors"></div>

                <form id="login-form" action="/blank" method="post" target="iframe-submit" class="block clearfix">

                    <label class="mq-icon-input">
					<span class='mq-svg-icon' data-icon='user-20-#b0b4b7'></span>
					<input id="loginUsername" class="reset-input" type="text" maxlength="255" name="j_username" placeholder="username or email"/>
				</label>

                    <label class="mq-icon-input">
					<span class='mq-svg-icon' data-icon='password-20-#b0b4b7'></span>
					<input id="loginPassword" class="reset-input" type="password" maxlength="255" name="j_password" placeholder="password"/>
				</label>

                    <p style="margin-bottom:5px;">
                        <label class="checkbox" style="float:right;"><input type="checkbox" id="remember" name="remember" checked/>Remember me</label>
                        <a href="#" class="open-dialog" data-dialog="reset">I've lost my password</a>
                    </p>

                    <button type="submit" class="button simple full-width">Log in</button>

                    <div class="text-divider"><em>or</em><span></span></div>

                    <a href="/login/google" class="button google full-width"><i class='mq-svg-icon right-spacing' data-icon='gplus-16-#FFF'></i> Log in with Google</a>

                    <div class="alternative">
                        <a href="#" class="open-register">No account? Create one now!</a>
                    </div>

                </form>

            </div>

        </div>

        <div id="activate-dialog" class="mq-modal clearfix">

            <div class="mq-dialog-content login-dialog clearfix" style="width:335px;">

                <div class="mq-modal-heading">
                    <strong>Create your Moqups account</strong>
                </div>

                <div class="server-errors"></div>

                <form id="activate-form" action="/blank" method="post" target="iframe-submit" class="block clearfix">

                    <input type="hidden" autocomplete="off" name="token" id="tokenInput" />

                    <label class="mq-icon-input">
					<span class='mq-svg-icon' data-icon='email-20-#b0b4b7'></span>
					<input id="activateEmail" type="text" maxlength="255" name="email" disabled placeholder="email"/>
				</label>
                    <label class="mq-icon-input">
					<span class='mq-svg-icon' data-icon='user-20-#b0b4b7'></span>
					<input id="activateUsername" class="reset-input" type="text" maxlength="255" name="userName" placeholder="username"/>
				</label>
                    <label class="mq-icon-input">
					<span class='mq-svg-icon' data-icon='password-20-#b0b4b7'></span>
					<input id="activatePassword" class="reset-input" type="password" autocomplete="off" maxlength="255" name="password" placeholder="password"/>
				</label>

                    <p>I agree to the <a href="/terms" target="_blank">Terms of Service</a> and <a href="/privacy" target="_blank">Privacy Policy</a></p>

                    <button type="submit" class="button simple full-width">Create account</button>

                    <div class="text-divider"><em>or</em><span></span></div>

                    <a href="/login/google" class="button google full-width"><i class='mq-svg-icon right-spacing' data-icon='gplus-16-#FFF'></i> Sign up with Google</a>

                </form>

            </div>

        </div>

        <div id="register-dialog" class="mq-modal clearfix">

            <div class="mq-dialog-content login-dialog clearfix" style="width:335px;">

                <div class="mq-modal-heading">
                    <strong>Create your Moqups account</strong>
                </div>

                <div class="server-errors"></div>

                <form id="register-form" action="/blank" method="post" target="iframe-submit" class="block clearfix">

                    <label class="mq-icon-input">
					<span class='mq-svg-icon' data-icon='email-20-#b0b4b7'></span>
					<input id="signupEmail" class="reset-input" type="text" maxlength="255" name="email" placeholder="email"/>
				</label>
                    <label class="mq-icon-input">
					<span class='mq-svg-icon' data-icon='user-20-#b0b4b7'></span>
					<input id="signupUsername" class="reset-input" type="text" maxlength="255" name="userName" placeholder="username"/>
				</label>
                    <label class="mq-icon-input">
					<span class='mq-svg-icon' data-icon='password-20-#b0b4b7'></span>
					<input id="signupPassword" class="reset-input" type="password" autocomplete="off" maxlength="255" name="password" placeholder="password"/>
				</label>

                    <p>I agree to the <a href="/terms" target="_blank">Terms of Service</a> and <a href="/privacy" target="_blank">Privacy Policy</a></p>

                    <button type="submit" class="button simple full-width">Create account</button>

                    <div class="text-divider"><em>or</em><span></span></div>

                    <a href="/login/google" class="button google full-width"><i class='mq-svg-icon right-spacing' data-icon='gplus-16-#FFF'></i> Sign up with a Google account</a>

                    <div class="alternative">
                        <a href="#" class="open-login">I already have an account!</a>
                    </div>

                </form>

            </div>

        </div>

        <div id="reset-dialog" class="mq-modal clearfix">

            <div class="mq-dialog-content login-dialog clearfix" style="width:335px;">

                <div class="mq-modal-heading">
                    <strong>Reset password</strong>
                </div>

                <div class="server-errors"></div>

                <form id="reset-form" action="/blank" method="post" target="iframe-submit" class="block clearfix">

                    <div style="padding-bottom:10px;">No worries, just type your email or username:</div>

                    <label class="mq-icon-input">
					<span class='mq-svg-icon' data-icon='email-20-#b0b4b7'></span>
					<input id="recover-email" class="reset-input" type="text" maxlength="255" name="email" placeholder="email or username"/>
				</label>

                    <div class="clearfix">
                        <button type="submit" class="button simple right">Continue</button>
                        <a href="#" class="open-login" style="line-height:28px;">Nevermind, I remember!</a>
                    </div>

                </form>

            </div>

        </div>

        <div id="reset-success-dialog" class="mq-modal clearfix">

            <div class="mq-dialog-content clearfix" style="width:500px;">

                <div class="mq-modal-heading">
                    <strong>Password reset email sent</strong>
                </div>

                <div class="mq-modal-content">
                    <p>
                        We've sent a message to your registered email address. Follow the instructions in the email to change your password. After changing the password you will be able to log in to your account.<br/><br/> Didn't receive the password
                        reset email?<br/> Check your junk/spam folder or <a href="mailto:support@moqups.com?subject=Password Issues"><strong>contact us</strong></a>.
                    </p>
                </div>

            </div>

        </div>

    </div>

    <script id="tmpl-comment" type="text/x-jquery-tmpl">

        <div data-id="{{= uniqueId}}" class="comment">
            <div class="content clearfix">

                {{if parentUniqueId}}
                <span class='mq-svg-icon reply-icon' data-icon='reply-16-#AAA'></span> {{/if}}

                <div class="avatar">
                    <img src="{{= author.avatarImage}}" />
                </div>
                <div class='content-message'>
                    <strong>{{if author.fullName}}{{= author.fullName}}{{else}}{{if author.userName}}{{= author.userName}}{{else}}{{= author.email}}{{/if}}{{/if}}</strong>
                    <br/> {{html commentMarkdownHtml }}
                </div>
                {{if !parentUniqueId && showSource}}
                <div class="options">
                    <span>Posted on </span>
                    <a href="#" data-type="page" data-page="{{= pageId}}">{{= pageTitle}}</a>
                </div>
                {{/if}}
                <p class="options">
                    {{if attributes && attributes.stencilIds}}
                    <a href="#" class='comment-link button button-invisible' data-stencil-ids="{{= attributes.stencilIds.join(' ') }}" title='Go to linked stencil'>
                        <span class='mq-svg-icon' data-icon='link-12-#AAA'></span>
                    </a>
                    {{/if}}
                    <span class="timestamp">{{= timestamp}}</span> {{if canDeleteComment}}
                    <a href="#" data-type="delete" class="delete-comment">
                        <span class="mq-svg-icon" data-icon="removex-11"></span>
                    </a>
                    {{/if}} {{if !parentUniqueId}} &middot; <a href="#" data-type="reply">Reply</a> {{/if}} {{if attributes && attributes.stencilIds && canDeleteComment}} &middot; <a href="#" data-type='unlink' title='Unlink from stencil'>Unlink</a> {{/if}}
                </p>
            </div>
        </div>

    </script>


    <!-- Iframe used to simulate a real submit. Do not delete! -->

    <iframe src="javascript:false;" name="iframe-submit" class="ghost-iframe"></iframe>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>

    <script src="https://d27nuzh0d4iswj.cloudfront.net/js/5.4.90/core.polyfills.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        FDBK.BASE_URL = "https://classic.moqups.com/";
        FDBK.NEW_URL = 'https://app.moqups.com/';
        FDBK.IMAGE_BASE_URL = "https://d27nuzh0d4iswj.cloudfront.net/images/5.4.90/";
        FDBK.ASSET_IMAGE_BASE_URL = "https://d30su0b7sry5gh.cloudfront.net/";
        FDBK.STENCIL_BASE_URL = "https://d27nuzh0d4iswj.cloudfront.net/stencils/5.4.90/";
        FDBK.CSS_BASE_URL = "https://d27nuzh0d4iswj.cloudfront.net/css/5.4.90/";
        FDBK.PREVIEW_URL = "a/prj/viewer";
        FDBK.WEB_SOCKET_URL = "https://classic.moqups.com/revisions/";
        FDBK.ENV = "prod";
        try {
            FDBK.PROJECT_DATA = JSON.parse("{\"deleted\":false,\"archived\":false,\"privacy\":\"public_\",\"googleFileId\":null,\"isArchived\":false,\"isDeleted\":false,\"deletedBy\":null,\"deletedDate\":null,\"archivedBy\":null,\"archivedDate\":null,\"ownerUserName\":\"chortlehoort\",\"ownerIsPremium\":false,\"createdBy\":581188,\"description\":\"No description.\",\"notifications\":null,\"uniqueId\":\"1E8LJX7r\",\"name\":\"Quick Introduction to Moqups\",\"permission\":\"view\",\"createDate\":1436226702000,\"lastupdateDate\":1464050014000,\"version\":\"1.0\",\"id\":841594}");
        } catch (e) {
            console.log('Preview mode.');
        }
    </script>
    <script src="https://d27nuzh0d4iswj.cloudfront.net/js/5.4.90/viewer.min.js" type="text/javascript"></script>

</body>

</html>